<!-- Le navbar
================================================== -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/"><i class="icon-sc-white-navbar"></i> Scoot's Canoe</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="{{ page.home }}"><a href="/">Home</a></li>
          <li class="{{ page.about }}"><a href="/about">About</a></li>
          <li class="{{ page.rules }}"><a href="/rules">Rules</a></li>
          <li class="dropdown {{ page.servers }}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servers <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="{{ page.allservers }}"><a href="/servers">All Servers</a></li>
              <li class="divider"></li>
              <li class="nav-header">Games</li>
              <li class="{{ page.css }}"><a href="/css">Counter-Strike: Source</a></li>
              <li class="{{ page.minecraft }}"><a href="/minecraft">Minecraft</a></li>
              <li class="nav-header">Communications</li>
              <li class="{{ page.irc }}"><a href="/irc">IRC</a></li>
              <li class="{{ page.teamspeak }}"><a href="/teamspeak">Teamspeak</a></li>
              <li class="{{ page.ventrilo }}"><a href="/ventrilo">Ventrilo</a></li>
              <li class="{{ page.skype }}"><a href="/skype">Skype</a></li>
            </ul>
          </li>
          <li class="dropdown {{ page.games }}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Games <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="{{ page.allgames }}"><a href="/games">All Games</a></li>
              <li class="divider"></li>
              <li class="nav-header">Stats</li>
              <li class="{{ page.sc2 }}"><a href="/sc2">Starcraft 2</a></li>
              <li class="{{ page.dota2 }}"><a href="/dota2">Dota 2</a></li>
              <li class="nav-header">Tournaments</li>
              <li class="{{ page.internationoob }}"><a href="/internationoob">Internationoob</a></li>
              <li class="{{ page.fistfulofcanoes }}"><a href="/fistfulofcanoes">Fistful of Canoes</a></li>
            </ul>
          </li>
          <li class="{{ page.stream }}"><a href="/stream">Stream</a></li>
          <li class="{{ page.downloads }}"><a href="/downloads">Downloads</a></li>
          <li class="{{ page.blog }}"><a href="/blog">Blog</a></li>
        </ul>
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="http://gilgi.org" class="dropdown-toggle" data-toggle="dropdown">Gilgi.org Network <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://www.gilgi.org" target="_blank"><i class="icon-home"></i> Gilgi.org</a></li>
              <li class="divider"></li>
              <li><a href="http://puwn.gilgi.org" target="_blank"><i class="icon-map-marker"></i> PUWN</a></li>
              <li><a href="http://romanchickens.gilgi.org" target="_blank"><i class="icon-picture"></i> Roman Chickens</a></li>
              <li><a href="http://scgs.gilgi.org" target="_blank"><i class="icon-cog"></i> SCGS</a></li>
              <li><a href="http://sclabs.gilgi.org" target="_blank"><i class="icon-lab"></i> sclabs</a></li>
              <li class="active whitecolor"><a href="/"><i class="icon-screenshot icon-white"></i> Scoot's Canoe</a></li>
              <li class="divider"></li>
              <li><a href="http://status.gilgi.org" target="_blank"><i class="icon-signal"></i> Status</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div><!-- /navbar -->