---
layout: page
title: Blog
subtitle: What's nu? Frequency
blog: active
---

{% for post in site.posts %}
<div class="well">
<div class="page-header blog-header">
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <p>Posted by {{ post.author}} on {{ post.date | date_to_long_string }}</p>
</div>
{% if post.content | number_of_words < 201 %}
short post
{% endif %}
{% if post.content | number_of_words > 200 %}
long post
{% endif %}
{% if post.content | number_of_words < 201 %}
{{ post.content }}
{% else %}
{{ post.content | truncatewords:200 }}
<p><a href="{{ post.url }}">Continue Reading...</a></p>
{% endif %}
</div>
{% endfor %}