---
layout: page
title: Blog
subtitle: What's nu? Frequency
blog: active
posts_per_page: 5
---

{% capture offset %}{{ page.page | minus:1 | times:page.posts_per_page }}{% endcapture %}

{% for post in site.posts limit:page.posts_per_page offset:offset %}
<div class="well">
<div class="page-header blog-header">
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <p>Posted by {{ post.author}} on {{ post.date | date_to_long_string }}</p>
</div>
{{ post.content | replace:"more start -->","" | replace:"<!-- more end","" }}
{% if post.content contains "<!-- more start -->" %}
<p><a href="{{ post.url }}">Read more...</a></p>
{% endif %}
</div>
{% endfor %}